# from my.telegram.org/apps
API_ID=32391935
API_HASH=d881e2cce4b4de3fe184a0b8e67fcdc2

# from @BotFather on telegram
BOT_TOKEN=8360532098:AAHZkSedRQVQFh2WAAmEukr8C79iADrc27k
LOGGER_ID=-1002827278154

# mongo url from cloud.mongodb.com
MONGO_URL=mongodb+srv://Itz_maurya:itz_maurya@cluster0.ggkha8y.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

OWNER_ID=7346731516

# pyrogram session from @StringFatherBot on telegram
SESSION=BQHuQv8AsVY72o5MMlXPFxYb-1zB7FhY9S2zCfsvD-Jfp9OhuObH567oORhN0uNnxBnc6MH_9nGm0lyMMTxfjzLHYlWbOC1wgr8XB4wqiSDEn9WkSk42_Os6oDZDn45Q3azM_RJ4TazDH47eH2_defgJSoR4UWVNIcq1llYEyPNsoe8Crzqp6vQVdRLPj-2cvDQ7PGsxn3oeLJzrFw6sEpaPx8_Fjw5qrR2LxfJ_j4zjcLvttOlywtS-z1Mt4r0VQKLP0CusLHIAJR0ghxwUPBpjleGfRU4fWbdtXa9mGlD-YpgMKIrMXrnqLplVIhAUahDE5spoh8pB6I7oaRDwYW54EsBRUAAAAAHp4kh5AA
API_KEY=4767c9_UNjSk1dKYPGOxkPCto1rQ1NYaDEItgJE
